<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>Superhero Arena</title>
    </head>
    <body onload="init()">
        <div class="container-fluid">
            <div class="row">
                <div id= "player-1" class="player-panel-1 col-5">
                    
                    <div class = "card">
                        <div class = "front">
                            <img id = "player-1" class = "card_picture" src="">
                            <p class = "card_name"></p>
                        </div>
                        <div class = "back">
                            <p class= "skill-item">Intelligence</p>
                            <div class="skill-container">
                                <span style = "width: ${data.powerstats.intelligence}%;
                                animation: intelligence 2s;" class="skills"></span>
                            </div>
                            <p class= "skill-item">Strength</p>
                            <div class="skill-container">
                                <span style = "width: ${data.powerstats.strength}%;
                                animation: strength 2s;" class="skills"></span>
                            </div>
                            <p class= "skill-item">Speed</p>
                            <div class="skill-container">
                                <span style = "width: ${data.powerstats.speed}%;
                                animation: speed 2s;" class="skills"></span>
                            </div>
                            <p class= "skill-item">Durability</p>
                            <div class="skill-container">
                                <span style = "width: ${data.powerstats.durability}%;
                                animation: durability 2s;" class="skills"></span>
                            </div>
                            <p class= "skill-item">Power</p>
                            <div class="skill-container">
                                <span style = "width: ${data.powerstats.power}%;
                                animation: power 2s;" class="skills"></span>
                            </div>
                            <p class= "skill-item">Combat</p>
                            <div class="skill-container">
                                <span style = "width: ${data.powerstats.combat}%;
                                animation: combat 2s;" class="skills"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result col">
                    <div class="row">
                        <div class="col">V/S</div>
                        <div class="w-100"></div>
                        <div class="col">
                            <button class="button">SHUFFLE</button>
                        </div>
                        <div class="w-100"></div>
                        <div style = "height: 10px; visibility: hidden;" class="col"></div>
                    </div>
                </div>
                <div id= "player-2" class="player-panel-2 col-5">
                    <div class = "card">
                        <div class = "front">
                            <img id = "player-2" class = "card_picture" src="">
                            <div class="name"><p class = "card_name"></p></div>
                        </div>
                        <div class = "back">
                            <p class= "skill-item">Intelligence</p>
                            <div class="skill-container">
                                <span style = "width: ${data.powerstats.intelligence}%;
                                animation: intelligence 2s;" class="skills"></span>
                            </div>
                            <p class= "skill-item">Strength</p>
                            <div class="skill-container">
                                <span style = "width: ${data.powerstats.strength}%;
                                animation: strength 2s;" class="skills"></span>
                            </div>
                            <p class= "skill-item">Speed</p>
                            <div class="skill-container">
                                <span style = "width: ${data.powerstats.speed}%;
                                animation: speed 2s;" class="skills"></span>
                            </div>
                            <p class= "skill-item">Durability</p>
                            <div class="skill-container">
                                <span style = "width: ${data.powerstats.durability}%;
                                animation: durability 2s;" class="skills"></span>
                            </div>
                            <p class= "skill-item">Power</p>
                            <div class="skill-container">
                                <span style = "width: ${data.powerstats.power}%;
                                animation: power 2s;" class="skills"></span>
                            </div>
                            <p class= "skill-item">Combat</p>
                            <div class="skill-container">
                                <span style = "width: ${data.powerstats.combat}%;
                                animation: combat 2s;" class="skills"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style = "visibility: hidden;" class="col"> Hidden Div </div>
                <div class="col-6">
                    <table class="table table-bordered table-dark">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">R1</th>
                                <th scope="col">R2</th>
                                <th scope="col">R3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Player 1</th>
                                <td class="r1-p1-total"></td>
                                <td class="r2-p1-total">65</td>
                                <td class="r3-p1-total">75</td>
                            </tr>
                            <tr>
                                <th scope="row">Player 2</th>
                                <td class="r1-p2-total"></td>
                                <td class="r2-p2-total">87</td>
                                <td class="r3-p2-total">94</td>
                            </tr>
                            <tr>
                                <th scope="row">Winner</th>
                                <td class="r1-winner"></td>
                                <td class="r2-winner"></td>
                                <td class="r3-winner"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style = "visibility: hidden;" class="col"> Hidden Div </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <script src="/scripts/index.js"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>